h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 46, 46);
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 46, 46);
}
h3 {
    text-align: center;
    color: rgb(189, 46, 46);
}
body {
    background-color: greenyellow;
}
li {
    color: rgb(50, 104, 104);
}
p {
    color: crimson;
    font-style: italic;
}

